<div class="comment-block">
  <h4> <%= comment.author_name %> <small>Posted <%= distance_of_time_in_words(comment.created_at, Time.now) %> ago</small></h4>

  <p class="comment"> <%= comment.body %></p>
</div>
